.page {
    background-color: #2A2C2F;
    min-width: 320px;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "Inter", Arial, sans-serif;
}

