.footer__link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 18px;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__link:first-child {
  padding-left: 0px;
}