@import url(../vendor/fonts.css);
@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__logo-link/header__logo-link.css);
@import url(../blocks/header/__logo-link/_active/header__logo-link_active.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyrite/footer__copyrite.css);

div {
  border: 2px red solid;
}

.places {
  max-width: 984px;
  padding-top: 92px;
  margin: 0 auto;
}
.place {
  display: grid;
  grid-template-columns: 460px auto;
  grid-gap: 48px;
  padding-top: 80px;
}

.place:first-child {
  padding-top:0px;
}

.place__title {
  font-family: 'Inter-ExtraBold';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  margin: 0;
}
.place__image {
  max-width: 460px;
  background-position: cover;
}
.place__url {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.place__url-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin: 0;
}
.place__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  padding-top: 12px;
}
.place__link:hover {
  opacity: 0.5;
}

.place__text {
  display: flex;
  flex-direction: column;
}

.place__paragraph {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  margin: 0;
  padding-top: 26px;
}
.place__paragraph:first-child {
  padding-top: 0px;
}
